<div class="d-flex card h-100 w-100 text-center justify-content-center">
    <div>
        <strong class="text-left">Loading...</strong>
    </div>
    <div class="text-center justify-content-center">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
</div>



